<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
    <div class="inner">❅</div>
  </div>
  <div class="snowflake">
    <div class="inner">&#10052;</div>
  </div>
  <div class="snowflake">
    <div class="inner"><img src="Archigraphs-Christmas-Present.32.png" /></div>
  </div>
  <div class="snowflake">
    <div class="inner">❅</div>
  </div>
  <div class="snowflake">
    <div class="inner">&#10052;</div>
  </div>
  <div class="snowflake">
    <div class="inner"><img src="Archigraphs-Christmas-Present.32.png" /></div>
  </div>
  <div class="snowflake">
    <div class="inner">❅</div>
  </div>
  <div class="snowflake">
    <div class="inner">&#10052;</div>
  </div>
  <div class="snowflake">
    <div class="inner"><img src="Archigraphs-Christmas-Present.32.png" /></div>
  </div>
  <div class="snowflake">
    <div class="inner">❅</div>
  </div>
  <div class="snowflake">
    <div class="inner">&#10052;</div>
  </div>
  <div class="snowflake">
    <div class="inner"><img src="Archigraphs-Christmas-Present.32.png" /></div>
  </div>
  <div class="snowflake">
    <div class="inner">❅</div>
  </div>
  <div class="snowflake">
    <div class="inner">&#10052;</div>
  </div>
  <div class="snowflake">
    <div class="inner"><img src="Archigraphs-Christmas-Present.32.png" /></div>
  </div>
  <div class="snowflake">
    <div class="inner">❅</div>
  </div>
  <div class="snowflake">
    <div class="inner">&#10052;</div>
  </div>
  <div class="snowflake">
    <div class="inner"><img src="Archigraphs-Christmas-Present.32.png" /></div>
  </div>
  <div class="snowflake">
    <div class="inner">❅</div>
  </div>
  <div class="snowflake">
    <div class="inner">&#10052;</div>
  </div>
  <div class="snowflake">
    <div class="inner"><img src="Archigraphs-Christmas-Present.32.png" /></div>
  </div>
</div>
