<div class="transition-transform transform hover:scale-105 group bg-white bg-opacity-50 relative rounded-lg shadow-md overflow-hidden">
    <a>
        <div class="aspect-w-1 aspect-h-1 overflow-hidden lg:h-80" style="display: flex; justify-content: center;">
            <img class="object-cover h-full"
                src="https://heightsforum.org/app/uploads/2019/03/review_harry-potter-series.jpg" />
        </div>
    </a>
    <div class="p-4">
        <div class="flex justify-between">
            <h3 class="text-lg font-medium text-gray-900">
                Harry Potter
            </h3>
            <p class="text-lg font-medium text-gray-900">$25.99</p>
        </div>
        <div class="mt-4 flex justify-center">
            <a>
                <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center transition-transform transform hover:scale-105">
                    Details
                </button>
            </a>
        </div>
    </div>
</div>