<div class=" flex items-center justify-center min-h-screen">
    <form style="background-color: antiquewhite;" class="w-full max-w-lg bg-gray-200 p-8 rounded-lg">
        <div class="grid gap-6 mb-6">
            <div>
                <label for="title" class="block mb-2 text-sm font-medium text-gray-900">
                    Title
                </label>
                <input type="text" id="title" name="title"
                    class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    #inputTitle />

            </div>
            <div>
                <label for="genre" class="block mb-2 text-sm font-medium text-gray-900">
                    Genre
                </label>
                <select id="genre" name="genre"
                    class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    #inputGenre>
                    <option value="">Select Genre</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Historical">Historical</option>
                    <option value="Drama">Drama</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Crime">Crime</option>
                </select>
            </div>
            <div class="relative">
                <label for="price" class="block mb-2 text-sm font-medium text-gray-900">
                    Price
                </label>
                <input type="number" id="price" name="price"
                    class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    #inputPrice />

            </div>
            <div>
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900">
                    Description
                </label>
                <textarea id="description" name="description"
                    class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    #inputDesc>
                </textarea>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900" for="image">
                    Image URL
                </label>
                <input
                    class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    id="image" type="text" name="image" #inputImageUrl />

            </div>
        </div>
        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button
                (click)="addBook($event, inputTitle.value, inputGenre.value, inputPrice.value, inputDesc.value, inputImageUrl.value)"
                class="text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center transition-transform transform hover:scale-105">
                Create
            </button>
        </div>
    </form>
</div>