<div class="flex items-center justify-center min-h-screen">
    <form onSubmit={submitHandler} class="w-full max-w-lg bg-gray-200 p-8 rounded-lg">
        <div class="grid gap-6 mb-6">
            <div>
                <label htmlFor="name" class="block mb-2 text-sm font-medium text-gray-900">
                    Name
                </label>
                <input type="text" id="name" name="name"
                    class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    onChange={changeHandler} />

            </div>
            <div>
                <label htmlFor="category" class="block mb-2 text-sm font-medium text-gray-900">
                    Genre
                </label>
                <select id="genre" name="genre"
                    class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    onChange={changeHandler}>
                    <option value="">Select Genre</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Historical">Historical</option>
                    <option value="Drama">Drama</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Crime">Crime</option>
                </select>
            </div>
            <div class="relative">
                <label htmlFor="price" class="block mb-2 text-sm font-medium text-gray-900">
                    Price
                </label>
                <input type="number" id="price" name="price"
                    class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    value={values.price} onChange={changeHandler} />

            </div>
            <div>
                <label htmlFor="description" class="block mb-2 text-sm font-medium text-gray-900">
                    Description
                </label>
                <textarea id="description" name="description"
                    class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    value={values.description} onChange={changeHandler}>
                </textarea>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900" htmlFor="image">
                    Image URL
                </label>
                <input
                    class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    id="image" type="text" name="image" onChange={changeHandler} />

            </div>
        </div>
        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Create
            </button>
        </div>
    </form>
</div>