<footer class="text-white py-10 bg-[rgb(154,126,97)]">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-center items-center space-y-6 md:space-y-0 md:space-x-28">
            <div class="flex justify-center md:justify-start">
                <img alt="The Book Oasis Logo" src="books.png" class="rounded-md h-16 w-auto">
            </div>
            <div class="text-center">
                <h1 class="text-3xl font-extrabold mb-3">The Book Oasis</h1>
                <p class="text-sm text-gray-300">© 2024 All rights reserved.</p>
            </div>
            <div class="text-center">
                <h2 class="text-lg font-semibold mb-2">Follow Us</h2>
                <div class="flex justify-center space-x-4">
                    <a href="https://facebook.com" target="_blank" class="text-gray-800 hover:text-white">
                        <i class="fa-brands fa-facebook fa-lg"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank" class="text-gray-800 hover:text-white">
                        <i class="fa-brands fa-twitter fa-lg"></i>
                    </a>
                    <a href="https://instagram.com" target="_blank" class="text-gray-800 hover:text-white">
                        <i class="fa-brands fa-instagram fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>