<div
  class="containerForm flex min-h-full flex-1 flex-col justify-center px-6 py-12 lg:px-8"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img src="books.png" alt="Your Company" class="rounded-md mx-auto h-16" />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Sign In
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" #form="ngForm" (ngSubmit)="login(form)">
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
        >
          Email address
        </label>
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5"
            [class]="{
              'border-red-500': inputEmail.invalid && inputEmail.touched,
              'border-gray-300': !(inputEmail.invalid && inputEmail.touched)
            }"
            ngModel
            #inputEmail="ngModel"
            required
            [appEmail]="domains"
          />
        </div>
        @if (inputEmail?.touched) {
        <div class="text-red-500 text-xs italic font-bold mt-1">
          <!---->
          @if (inputEmail?.errors?.['required']) {
          <p>Email is required!</p>
          }
          <!---->
          @if (inputEmail?.errors?.['emailValidator']) {
          <p>Email is not valid!</p>
          }
        </div>
        }
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
          >
            Password
          </label>
        </div>
        <div class="mt-2">
          <input
            id="password"
            name="password"
            type="password"
            class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5"
            [class]="{
              'border-red-500': inputPassword.invalid && inputPassword.touched,
              'border-gray-300': !(
                inputPassword.invalid && inputPassword.touched
              )
            }"
            ngModel
            #inputPassword="ngModel"
            required
            minlength="5"
          />
        </div>
        @if (inputPassword?.touched) {
        <div class="text-red-500 text-xs italic font-bold mt-1">
          <!---->
          @if (inputPassword?.errors?.['required']) {
          <p>Password is required!</p>
          }
          <!---->
          @if (inputPassword?.errors?.['minlength']) {
          <p>Password must be at least 5 characters!</p>
          }
        </div>
        }
      </div>
      <div class="text-red-500 text-xs italic font-bold mt-1">
        {{generalError}}
      </div>
      <div>
        <button
          [disabled]="form.invalid"
          [class]="form.invalid ? 'button-disabled' : 'button'"
        >
          Sign in
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a
        routerLink="/register"
        class="font-semibold leading-6 text-yellow-600 hover:text-yellow-500"
      >
        Create your account
      </a>
    </p>
  </div>
</div>
