<div>
  <form
    class="max-w-md mx-auto mt-12"
    (submit)="search($event, inputSearch.value)"
  >
    <label
      for="default-search"
      class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
    >
      Search
    </label>
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="{2}"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="search"
        id="default-search"
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search Books..."
        #inputSearch
      />
      <button
        class="text-white absolute end-2.5 bottom-2.5 bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800"
      >
        Search
      </button>
    </div>
  </form>
  @if (books.length > 0) {
  <div class="mx-auto px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <div
      class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8"
    >
      @for (book of books | sortBy:'title':'asc'; track $index) {
      <app-books-list-item [book]="book" />
      }
    </div>
  </div>
  } @else {
  <div class="mx-auto px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <h3
      class="container text-3xl font-bold tracking-tight text-gray-900 text-center mb-8"
    >
      We're sorry, but we couldn't find any books matching your search. Please
      try a different keyword.
    </h3>
  </div>
  }
</div>
