<div class="flex justify-center items-center min-h-screen">
    <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-2xl">
        <div class="px-4 sm:px-0 text-center">
            <h3 class="text-2xl font-semibold leading-7 text-gray-900">Harry Potter</h3>
        </div>
        <div class="mt-6 border-t border-gray-200">
            <dl class="divide-y divide-gray-200">
                <div class="py-6 flex justify-center">
                    <img src='https://heightsforum.org/app/uploads/2019/03/review_harry-potter-series.jpg'
                        class="rounded-lg shadow-md object-cover h-60 w-100" />
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-2 text-center sm:text-center">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Genre:</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Fantasy</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-2 text-center sm:text-center">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Price:</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">$25.99</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-2 text-center sm:text-center">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Description:</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        An orphaned boy enrolls in a school of wizardry, where he learns the truth about himself, his
                        family and the terrible evil that haunts the magical world.
                    </dd>

                </div>
                <div class="px-4 py-6 sm:grid sm:gap-4 sm:px-2 text-center">
                    <p class="text-md font-medium leading-6 text-green-600 mt-4">
                        Buyer: {{'user@example.com'}}
                    </p>
                </div>
            </dl>
        </div>
    </div>
</div>