@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    background-image: url('/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* Ensure no default spacing */
}

main {
    flex: 1;
}